watch_file .nvmrc .node-version package.json

noema_node_version="$(tr -d '\r\n' < .nvmrc)"
noema_nvm_dir="${NVM_DIR:-$HOME/.nvm}"
noema_node_bin="$noema_nvm_dir/versions/node/v$noema_node_version/bin"

if [[ ! -x "$noema_node_bin/node" ]]; then
  log_error "Noema requires Node $noema_node_version; run 'make nvm-install'"
  return 1
fi

PATH_add "$noema_node_bin"

if [[ "$(npm --version)" != "11.17.0" ]]; then
  log_error "Noema requires npm 11.17.0; run 'make nvm-install'"
  return 1
fi
